:root {
  --app-height: 100%;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --link-color: #0B00FF;
  --link-hover-color: #000;
  --modal-bg-color-light: #fff;
  --modal-text-color-light: #000;
  --modal-bg-color-dark: #333;
  --modal-text-color-dark: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@media (prefers-color-scheme: dark) {
  body {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --link-color: #dd00ff;
    --link-hover-color: #fff;
  }
}

[data-theme='light'] {
  --modal-bg-color: var(--modal-bg-color-light);
  --modal-text-color: var(--modal-text-color-light);
}

[data-theme='dark'] {
  --modal-bg-color: var(--modal-bg-color-dark);
  --modal-text-color: var(--modal-text-color-dark);
}