.hero {
	padding: 12rem 2rem 0 2rem;
	text-align: center;
	width: 100%;
	background: var(--background);
	/* border-bottom: 1px solid var(--card-border); */
}

.heroContent {
	max-width: 100%;
}

.title {
	font-size: 3rem;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 0;
	color: var(--title);
}

.titleDivider {
	width: 20rem;
	height: auto;
	margin: 3rem auto 0 auto;
	display: block;
	color: var(--accent);
}

@media (prefers-color-scheme: light) {
	.titleDivider {
		color: var(--accent);
	}
}

.subtitle {
	font-size: 1.05rem;
	color: var(--muted);
}

.projects {
	padding: 0;
}

.container {
	max-width: var(--max-width);
	margin: 0 auto;
}

.sectionTitle {
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.03em;
	font-weight: 700;
	margin: 7rem 0 2rem 0;
	color: var(--muted);
}

.grid {
	display: flex;
	flex-direction: column;
}

.mainContent {
	background: var(--background);
	padding: .5rem 1.2rem 1rem 1.2rem;
}

@media (max-width: 600px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}

	.subtitle {
		margin-left: 1rem;
	}

	.title {
		font-size: 2rem;
	}

	.hero {
		padding: 7rem 0 1rem 0;
		padding-left: 0;
		padding-right: 0;
		border: none;
	}
}