.container {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: var(--atkinson-font);
}

.main {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
  max-width: 60rem;
}

.h1 {
  margin-left: -4.5rem;
}

.name {
  color: coral;
}

.list {
  margin-top: 1rem;
  margin-left: .2rem;
}

.list li {
  list-style-type: "→";
  padding-left: .3rem;
  margin-bottom: .5rem;
}

.buttons {
  margin-top: 2.5rem;
  text-transform: lowercase;
}

.linkButton,
.linkButton:visited {
  color: white;
  border: 3px solid hsl(192, 80%, 55%);
  background-color: hsl(192, 80%, 55%);
  padding: .6rem 1rem;
  font-family: 'Atkinson Hyperlegible';
  font-weight: bold;
  border-radius: 4px;
  transition: .15s ease-in-out;
}

.linkButton:hover {
  background: hsla(192, 80%, 55%, .5);
}

.linkButton:active {
  background: none;
  color: hsl(192, 80%, 55%);
  transition: 0s;
}

@media(prefers-color-scheme: light) {
  .name {
    color: hsl(16, 100%, 47%);
  }

  .linkButton:hover {
    color: black;
    background: hsla(192, 80%, 55%, .35);
  }
}