.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
  text-align: center;
  --height: 40vh;
  margin-top: calc(40vh - calc(var(--height)/2));
  /* ^ vertically center */
  --padding: 4rem;
  padding: var(--padding);
}

.main {
  display: inline-flex;
  gap: 2rem;
  flex-direction: column;
  max-width: 40rem;
  /* height: var(--height); */
  padding: calc(var(--padding));
  padding-bottom: calc(var(--padding) * .9);
  border: .1rem solid hsl(262, 55%, 45%);
  /* background: hsl(262, 40%, 15%); */
}

.h1 {
  text-align: center;
  margin: 0;
  font-size: 1.8rem;
  line-height: .9em;
  /* color: hsl(313, 90%, 60%); */
  color: #bbb;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.h1 span {
  font-weight: 400;
  margin-left: -.125rem;
}

.list {
  /* margin-top: calc(-5vh + 2rem); */
  display: inline-flex;
  flex-direction: column;
  gap: .4rem;
  --indent: 1rem;
  margin: 0 calc(var(--indent)*6) 0 0;
}

.list li {
  list-style-type: none;
}

.list li.developer {
  color: hsl(51, 100%, 64%);
}

.list li.musician {
  margin-left: calc(var(--indent)*2);
  color: hsl(109, 100%, 58%);
}

.list li.etc {
  margin-left: calc(var(--indent)*6);
  color: hsl(298, 90%, 62%);
}

.list li::before {
  content: '•';
  margin-right: .5rem;
  position: relative;
  top: -.12em;
  font-size: .8em;
}

.buttons {
  text-transform: lowercase;
  text-align: center;
}

.linkButton,
.linkButton:visited {

  color: hsl(200, 100%, 58%);
  border: .08rem solid transparent;
  border-bottom: .05rem solid hsl(200, 100%, 58%);
  padding: .4rem .4rem .3rem .4rem;
  background: none;
  transition: .15s ease-in-out;
}

.linkButton:hover {
  padding: .4rem .75rem .4rem .75rem;

  border: .08rem solid hsl(200, 100%, 58%);
  /* background: hsl(200, 60%, 40%); */
  color: hsl(200, 100%, 58%);
  font-size: 1.05em;
}

.linkButton:active {
  background: none;
  transition: 0s;
}

@media(prefers-color-scheme: light) {
  .linkButton:hover {
    color: black;
    background: hsl(0, 0%, 85%);
  }
}