.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
  text-align: center;
  --height: 40vh;
  margin-top: calc(40vh - calc(var(--height)/2));
  /* ^ vertically center */
  --padding: 4rem;
  padding: var(--padding);
}

.main {
  display: inline-flex;
  gap: 2rem;
  flex-direction: column;
  max-width: 40rem;
  /* height: var(--height); */
  padding: calc(var(--padding));
  padding-bottom: calc(var(--padding) * .9);
  border: .01rem solid rgb(var(--foreground-rgb));
  /* background: hsl(262, 40%, 15%); */
}

.h1 {
  text-align: center;
  margin: 0;
  font-size: 1.8rem;
  line-height: .9em;
  color: hsl(var(--title-color-hsl));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.h1 span {
  font-weight: 400;
}

.list {
  /* margin-top: calc(-5vh + 2rem); */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
  --indent: 1rem;
  /* text-align: center; */
  /* margin: 0 calc(var(--indent)*2) 0 0; */
}

.list li {
  list-style-type: none;
  text-align: left;
  width: 10rem;
}

.list li.developer {
  color: hsl(10, 100%, 66%);
}

.list li.musician {
  margin-left: calc(var(--indent)*2);
  color: hsl(50, 100%, 68%);
}

.list li.etc {
  margin-left: calc(var(--indent)*4);
  color: hsl(100, 88%, 64%);
}

.list li::before {
  content: '•';
  margin-right: .5rem;
  position: relative;
  top: -.12em;
  font-size: .8em;
}

.buttons {
  text-transform: lowercase;
  text-align: center;
}

.linkButton,
.linkButton:visited {

  color: hsl(200, 100%, 58%);
  border: .08rem solid transparent;
  border-bottom: .08rem solid hsl(200, 100%, 55%);
  padding: .4rem .4rem .3rem .4rem;
  background: none;
  transition: .15s ease-in-out;
}

.linkButton:hover {
  padding: .4rem .75rem .4rem .75rem;
  border: .08rem solid hsl(200, 100%, 55%);
  color: hsl(200, 100%, 58%);
  font-size: 1.05em;
}

.linkButton:active {
  background: none;
  transition: 0s;
}

@media(max-width: 480px) {
  .list {
    --indent: 0;
  }

  .list li {
    text-align: left;
  }
}

@media(max-width: 800px) {
  .container {
    padding: var(--padding) 5vw;
  }
}

@media(prefers-color-scheme: light) {
  .main {
    background: rgb(var(--foreground-rgb));
  }
}